body {
    background: lavender;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    background: #c777b1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
}

h1 {
    text-align: center;
}

#messageInput {
    width: 96.5%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

button {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #2e2b2d;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #8a7f87;
}

#responseBox {
    margin-top: 25px;
    padding: 15px;
    background: #e9ecef;
    border-radius: 6px;
    white-space: pre-wrap;
}